# Database Configuration (PostgreSQL)
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/bioclinicalbert_gat

# Model Configurations
MODEL_NAME=emilyalsentzer/Bio_ClinicalBERT

# Execution configurations (cpu/cuda)
DEVICE=cpu

# Central seed for reproducibility
RANDOM_SEED=42
